<h1>Cats#new</h1>
<p>Find me in app/views/cats/new.html.erb</p>
<h1>Make a new cat</h1>

<form action="<%= cats_url %>" method="POST">


<label for="cat-name">Cat Name</label>
<input id="cat-name"
    type="text"
    name="cat[name]"
    />
<button>Create cat now!</button>
</form>