.locations {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.locations li {
    list-style: none;
}

@media all and (max-width: 1000px) {
  .locations {
    display: none;
  }
}